<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- LIBRARIES -->
        <!-- BOOTSTRAP -->        
       <!--// BOOTSTRAP //-->  
        
        <!-- GOOGLE FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap" rel="stylesheet">
        <!--// GOOGLE FONTS //-->

</head>

<body>


    <!-- HEADER -->
    <div id="header" style="height: 20rem;" class="bg-primary">
        <div id="header-background" style="width: 100%; height: 100%;">

            <div class="p-5" style="direction: rtl; font-size: 50px; margin-right: 100px; color: rgb(255, 255, 255)">
                <h1 style="font-size: 10px; font-weight: 800;">  s</h1>
                <h1 style="font-size: 90px; font-weight: 800;font-family: Verdana, Geneva, Tahoma, sans-serif; margin-right: -80px;">World</h1>
                <h1 style="font-size: 90px; font-weight: 800;font-family: Verdana, Geneva, Tahoma, sans-serif;margin-top: 50px;margin-right: -80px;">Cup</h1>
            </div>
        </div>
    </div>
    <!--// HEADER //-->


    <!-- QATAR WORD -->
    <div class="d-flex justify-content-center" style="margin-top: 30px;">
        <img src="qatar-word.png" alt="" style="width: 400px">
    </div>
    <!--// QATAR WORD //-->

</body>
</html>