<br><br><br><br>

<h1 style="margin-left: 12cm;">Stadium 974 </h1>

<img width=50%  style= "margin-left: 2cm;"src={{staduim.doha974}}>
<br>


<h1 style="margin-left: 2cm;">History and description</h1><br>

<p style="margin-left: 1cm;">  Stadium 974, earlier known as Ras Abu Aboud Stadium, is one of the newly built playing venues of the 2022 World Cup.

</p>
<br>

<br>


<h1 style="margin-left: 2cm;">How to get to Stadium 974</h1><br>
<p style="margin-left: 1cm;">Stadium 974 is located on the shore of the Gulf in the east of Doha near the Port and Hamad International Airport. It is the most centrally located stadium of the World Cup, a few kilometres away from the eastern end of the Corniche and less than two kilometres away from the National Museum of Qatar.</p>
<br>
<p style="margin-left: 1cm;">The stadium could be walked to from the eastern side of central Doha in 30 to 40 minutes though bear in mind that Doha is not a pedestrian-friendly city.</p>
<br>

<br>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3607.4550559234767!2d51.562416281116455!3d25.288910890268536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e45c5a26191bd65%3A0x53dcbfd0dbf514f!2sStadium%20974%20-%20Ras%20Abu%20Aboud!5e0!3m2!1sen!2snl!4v1671035137014!5m2!1sen!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
