<br><br><br>
<h1>New hotels in Qatar & Doha: 10 hotels opening<br> for FIFA World Cup Qatar 2022</h1><br>
<div class="p1">New hotels in Doha and the rest of Qatar are in high demand, with cruise ships, resorts and retreats<br> opening soon<br>
<br>
New hotels in Qatar are cropping up at a frantic pace. With more than 1.5 million<br>
 people projected to visit during the FIFA World Cup Qatar 202, some of the <br>
 country’s finest hotels will open in the span of just a few weeks.<br>
Read on for 10 of the best new hotels in Qatar and Doha for the FIFA World Cup Qatar 2022.<br></div>
<h1><a (click)="clickEvent()" routerLink="buynow1" style="color: black;">Andaz Doha</a></h1>

<img (click)="clickEvent()" routerLink="buynow1" style="width:900px;object-position: 120px 20px;" src="https://www.hoteliermiddleeast.com/cloud/2021/12/16/cIJlctyv-Andaz-Doha-1-1200x900.jpeg">
<br><div class="p2">Andaz Doha is opening in Qatar in time for the World Cup in 2022. Hyatt<br>
 Hotels said Doha’s first Andaz branded property will have 319-keys and be in West<br>
  Bay, amongst embassies, consulates and key government institutions.<br>

Andaz Doha will feature four food and beverage outlets, all of which will boast<br>
 modern design and an innovative approach to drinking and dining, promised the operator. <br>
Andaz Doha will mark the third Andaz branded hotel in the Middle East,<br>
 building on the success of UAE properties, Andaz Capital Gate, Abu Dhabi and Andaz Dubai The Palm.<br>
  The hotel will add to Hyatt’s existing portfolio of properties in Qatar; joining Hyatt Regency<br>
   Oryx Doha, Park Hyatt Doha and Grand Hyatt Doha Hotels and Villas.  </div><br>
   <h1><a (click)="clickEvent()" routerLink="buynow1" style="color: black;">The Chedi Katara Hotrel & Resort</a></h1>

<img (click)="clickEvent()" routerLink="buynow1" style="width:900px;object-position: 120px 20px;" src="https://www.hoteliermiddleeast.com/2021/05/icE4o7UF-The_Chedi_Katara_Cultural_Village,_Doha,_Qatar_hme.jpg">
<br><div class="p2">The upcoming Qatari hotel will have 59 rooms and suites as well as 32 chalets<br>
     and villas at Katara Cultural Village in Qatar’s capital city, Doha. The Chedi Katara Resort<br>
      Doha has been developed in partnership with Triple A, a Qatari real estate consortium<br>
      and Katara Cultural Village.<br>

    Katara Cultural Village occupies a 100-hectare beachfront setting, the district includes<br>
     theatres, concert halls, galleries, mosques, restaurants, shops, park and an amphitheatre.<br>
      The area is popular with Qataris who are keen to explore the cultural heritage of the region.</div><br>
      <h1><a (click)="clickEvent()" routerLink="buynow1" style="color: black;">Doha EDITION</a></h1>
      <img (click)="clickEvent()" routerLink="buynow1" style="width:900px;object-position: 120px 20px;" src="https://www.hoteliermiddleeast.com/2021/05/hxLQtCmC-edition-abu-dhabi-2.jpg">
<br><div class="p2">The Doha EDITION  is set to open in late 2022 in Doha’s central business<br>
     district, West Bay, which edges the Persian Gulf.  The hotel will have 200 guest rooms<br>
      including 29 suites, two  restaurants, three bars and a nightclub and nearly 929<br>
       sqm (10,000 sqft) of event space. The will also be 167 EDITION branded residences.<br>
</div><br>
<h1><a (click)="clickEvent()" routerLink="buynow1" style="color: black;"> Fairmont– Raffles Doha</a></h1>

      <img (click)="clickEvent()" routerLink="buynow1" style="width:900px;object-position: 120px 20px;margin-right: 5cm;" src="https://www.hoteliermiddleeast.com/wp-content/uploads/cloud/2022/07/22/Raffles-Fairmont-Doha-Exterior-Night-1-1200x900.jpg">
      

<br><div class="p2">Fairmont Hotel, and Raffles Hotel & Residences will<br>
     open at Katara Hospitality’s striking towers in Lusail.<br>

    Designed as an architectural representation of Qatar’s national seal<br>
     the arched towers will house both properties. Fairmont Hotel will likely<br>
      have 361 rooms and suites, while the Raffles will have 132 suites and 49 apartments.<br>
       The Raffles hotel will also have its own boutiques, VIP movie theatres<br>
        restaurants and a cigar lounge.<br>
    
    For Accor, the openings will also mark the debuts of both brands into the country.
</div><br>
<h1><a (click)="clickEvent()" routerLink="buynow1" style="color: black;">MSC World Europa and MSC Poesia Cruise</a><br> Ship Hotels
</h1>
      <img (click)="clickEvent()" routerLink="buynow1" style="width:900px;object-position: 120px 20px;" src="https://www.hoteliermiddleeast.com/cloud/2022/10/14/Untitled-design-18.png">
<br><div class="p2">The floating hotel offers a hospitality experience for the world cup<br>
     with prices starting at around $2,000 and going up to over $5,000. The 5-star cruise<br>
      ship features 2,633 cabins, six swimming pools, spa and wellness centre, shopping<br>
       and retail outlets, eateries and fine dining restaurants, bars and event spaces.<br>

    MSC Poesia, the 4-star floating hotel features 1,265 cabins, three swimming pools<br>
     spa and wellness centre, a poolside cinema, tennis and basketball court<br>
      gourmet dining options, bars and event spaces.
</div><br>
<h1><a (click)="clickEvent()" routerLink="buynow1" style="color: black;">The Ned Doha</a></h1>
      <img (click)="clickEvent()" routerLink="buynow1" style="width:900px;object-position: 120px 20px;" src="https://www.hoteliermiddleeast.com/cloud/2022/10/14/OQFu8mlg-The-Ned-Doha_-POOL-1-1.jpg">
<br><div class="p2">The Ned is set to open in Doha next month.<br>

    Located inside the former Ministry of the Interior building<br>
     The Ned Doha will be home to 90 bedrooms and 12 suites, all with outdoor balconies, seven restaurant<br>
      a gym, spa, and 30-metre outdoor pool.<br>
    
    Using The Ned London as inspiration, the ground floor atrium has a live performance<br>
     stage in the centre, and is surrounded by eateries.
</div><br>
<h1><a (click)="clickEvent()" routerLink="buynow1" style="color: black;">The Outpost</a>
</h1>
      <img (click)="clickEvent()" routerLink="buynow1" style="width:900px;object-position: 120px 20px;" src="https://www.hoteliermiddleeast.com/cloud/2022/08/15/The-Outpost5-1024x768-1-1000x750.jpg">
<br><div class="p2">Qatar will welcome a new high-end desert resort this winter.<br>
       The Outpost Al Barari (no relation to the Dubai community) will open in November 2022.<br>
        When it does, The Outpost will include 21 tented suites, most with their own private pools.<br>

      According to Time Out Doha, there will also be a flagship Emiri villa, with three bedrooms<br>
       its own living area, a private pool and a private terrace.<br>
        The Outpost will also have its own on-site shop, farm-to-table dining experiences, stargazing and desert excursions.<br>
      
      The tented villas will last for more than 20 years, according to bosses and start at nine sq m in size and go up to 150 sq m.
</div><br>
<h1><a (click)="clickEvent()" routerLink="buynow1" style="color: black;">St Regis Marsa Arabia Island, The Pearl Qatar</a>

</h1>
      <img (click)="clickEvent()" routerLink="buynow1" style="width:900px;object-position: 120px 20px;" src="https://www.hoteliermiddleeast.com/cloud/2021/10/19/St.-Regis-Marsa-Arabia-Island.jpg">
<br><div class="p2">The St. Regis Marsa Arabia Island will occupy its own island.<br>
       Restaurants will include Turkish spot Nar<br>
        a branch of UAE favourite Roberto’s, and Chotto Matte<br>
         a Japanese-Peruvian fusion venue.
</div><br>

<h1><a (click)="clickEvent()" routerLink="buynow1" style="color: black;">Bin Al Sheikh Residences</a>

</h1>
      <img (click)="clickEvent()" routerLink="buynow1" style="width:900px;object-position: 120px 20px;" src="https://www.hoteliermiddleeast.com/cloud/2022/10/14/rotana-doha-1024x946.jpg">
<br><div class="p2">Opening this month, Bin Al Sheikh Residences by Rotana boasts 158 studios<br>
       278 one-bedroom, 62 two-bedroom apartments, and five three-bedroom penthouses.<br>

      Next month meanwhile<br>
       Riviera Rayhaan by Rotana provides 185 rooms and suites<br>
        including 129 standard rooms and 56 suites comprising kunior suites, one-bedroom, and two-bedroom suites. 
</div><br>
<h1><a (click)="clickEvent()" routerLink="buynow1" style="color: black;">Waldorf Astoria Lusail, Doha</a>
</h1>
      <img (click)="clickEvent()" routerLink="buynow1" style="width:900px;object-position: 120px 20px;" src="https://www.hoteliermiddleeast.com/cloud/2022/10/14/Untitled-design-34-1000x667.png">
<br><div class="p2">Waldorf Astoria Lusail Doha is expected to open later this month.<br>
       The hotel boasts 461 rooms, along with terraces and restaurants, spas<br>
        a fitness centre and offices.<br>
         A flagship of Hilton, Waldorf Astoria is among the most luxurious hotel names on the planet.


</div><br><br>
