<br><br><br><br>

<h1 style="margin-left: 12cm;">Khalifa International Stadium</h1>

<img width=50%  style= "margin-left: 2cm;"src={{staduim.Doha1}}>
<br>


<h1 style="margin-left: 2cm;">History and description</h1><br>

<p style="margin-left: 1cm;">   Khalifa International Stadium has been Qatar’s principal football stadium since 1976. The stadium was built to serve as the flagship venue for the 1976 Gulf Cup that was held in Qatar and could initially hold 20,000 spectators.

</p>
<br>
<p style="margin-left: 1cm;">   Over the years, the stadium has been upgraded several times, most notably for the 2006 Asian Games, which increased capacity to 40,000 seats.


</p>
<br>
<p style="margin-left: 1cm;">In 2011, Khalifa International Stadium hosted multiple matches including the final between Japan and Australia (1-0) during the 2011 Asian Cup.</p>
<br>
<br>

<h1 style="margin-left: 2cm;">How to get to Khalifa International Stadium</h1><br>
<p style="margin-left: 1cm;">Khalifa International Stadium is located in the west of Doha at roughly 10 kilometres from central Doha (e.g. the Souq Waqif and Corniche), and 18 kilometres from The Pearl development further north.</p>
<br>
<p style="margin-left: 1cm;">The stadium can be reached by metro. Station Sports City is one the newly opened Gold line that runs through central Doha.</p>
<br>

<br>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7216.416327793031!2d51.448361!3d25.263582!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6b41d52e746b8ff3!2zS2hhbGlmYSBJbnRlcm5hdGlvbmFsIFN0YWRpdW0gfCDYpdiz2KrYp9ivINiu2YTZitmB2Kkg2KfZhNiv2YjZhNmK4oCO!5e0!3m2!1sen!2snl!4v1671034518876!5m2!1sen!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<br>
<br>
