<nav class="nav">
  <body  style="background-color: rgba(86,0,101);">
<body style="background-color: rgba(86,0,101);">
  <nav class="navbar navbar-expand-lg navbar-light .text-info lg-dark">
      <img style ="margin-right: 3% ;margin-left: 2%;" src="https://digitalhub.fifa.com/transform/3a170b69-b0b5-4d0c-bca0-85880a60ea1a/World-Cup-logo-landscape-on-dark?io=transform:fill&amp;quality=75" width="8%"len >
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#" style="color:azure"routerLink="">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color:azure"routerLink="/app-teams">Teams</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#" style="color:azure"routerLink="/app-groups">Groups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color:azure"routerLink="/app-hoteld">Hotels</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color:azure"routerLink="/app-tickets">Tickets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color:azure"routerLink="/app-staduims">Stadiums</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color:azure"routerLink="/bets">Bet</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        </form>
      </div>
    </nav>
  </body>
