html,body{
    height: 100%;
    width: 100%;
    background-image: url('https://phantom-marca.unidadeditorial.es/180610ea99cce28c8d46b749d9b19bbb/resize/1200/f/jpg/assets/multimedia/imagenes/2022/08/10/16601042588700.jpg');
    background-size: cover;
}