<br><br><br><br>

<h1 style="margin-left: 12cm;">AHMAD BEN ALI STADIUM</h1>

<img width=50%  style= "margin-left: 2cm;"src={{staduim.Alrayyan}}>
<br>


<h1 style="margin-left: 2cm;">History and description</h1><br>

<p style="margin-left: 1cm;">   Al Janoub Stadium, also known as Al Wakrah Stadium, is a recently opened new stadium in the town of Al Wakrah that was built to serve as one of the playing venues of the 2022 World Cup in Qatar.

</p>
<br>
<p style="margin-left: 1cm;">   The stadium was part of Qatar’s bid to host the World Cup, and in 2013 definite plans were presented. First preparations to make the site ready for construction were started in 2014, but it took until 2016 for proper construction works to commence.


</p>
<br>
<p style="margin-left: 1cm;">The design of the stadium reflects the inside of a Bedouin tent: coloured red, white, and black. These tents, the bayt al sha’ar, are also where the stadium gets its name from. The roof is retractable, opening and closing in 20 minutes.</p>
<br>
<p style="margin-left: 1cm;">The stadium was scheduled to be completed in the last quarter of 2018, but some delays pushed that back to 2019. Al Janoub Stadium officially opened on 16 May 2019 with a match between Al-Duhail and Al-Sadd (4-1).
</p>
<br>

<h1 style="margin-left: 2cm;">How to get to aljanoub stadium</h1><br>
<p style="margin-left: 1cm;">Al Janoub Stadium is located just east of the town of Al Wakrah on the way to the village of Al Wukair. The stadium lies about 5 kilometres east from the central Souq and coast in Al Wakrah.</p>
<br>
<p style="margin-left: 1cm;">Al Wakrah lies a little over 10 kilometres south from Doha on the Persian Gulf coast. The distance to central Doha and The Corniche is just over 20 kilometres.</p>
<br>

<br>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7222.574255879599!2d51.574311!3d25.159781!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa17b8deed0d142ff!2sAl%20Janoub%20Stadium!5e0!3m2!1sen!2snl!4v1671033785017!5m2!1sen!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe><br>

<br>