<div > 
    <h1 >Teams </h1>
    <table>
    <tr>

    <td ><a routerLink = '/team' ><img  [src]= "tab[0]" (click) = setvalue(1) > </a> <br>  ARGENTINA </td> 
    <td ><a routerLink = '/team' ><img [src]= "tab[1]" (click) = setvalue(2)> </a><br> AUSTRALIA<br> </td>
    <td ><a routerLink = '/team' ><img [src]= "tab[2]" (click) = setvalue(3)></a> <br> BELGIUM<br> </td>
    <td ><a routerLink = '/team' ><img [src]= "tab[3]" (click) = setvalue(4)></a> <br> BRAZIL<br> </td>
    <td ><a routerLink = '/team' ><img [src]= "tab[4]" (click) = setvalue(5)> </a><br> CAMEROON<br> </td>
    <td ><a routerLink = '/team' ><img [src]= "tab[5]" (click) = setvalue(6)></a> <br> CANADA<br> </td>
    <td ><a routerLink = '/team' ><img [src]= "tab[6]" (click) = setvalue(7)> </a><br> COSTA RICA<br> </td>
    </tr>
    <tr>
        <td ><a routerLink = '/team' ><img [src]= "tab[7]" (click) = setvalue(8)></a> <br> CROATIA<br> </td>
        <td ><a routerLink = '/team' ><img [src]= "tab[8]" (click) = setvalue(9)> </a><br> DENMARK<br> </td>
        <td ><a routerLink = '/team' ><img [src]= "tab[9]" (click) = setvalue(10)></a> <br> ECUADOR<br> </td>
        <td ><a routerLink = '/team' ><img [src]= "tab[10]" (click) = setvalue(11)></a> <br> ENGLAND<br> </td>
        <td ><a routerLink = '/team' ><img [src]= "tab[11]" (click) = setvalue(12)></a> <br> FRANCE<br> </td>
        <td ><a routerLink = '/team' ><img [src]= "tab[12]" (click) = setvalue(13)> </a><br> GERMANY<br> </td>
        <td ><a routerLink = '/team' ><img [src]= "tab[13]" (click) = setvalue(14)> </a><br> GHANA<br> </td>
        </tr>
        <tr>
        <td><a routerLink = '/team' ><img [src]= "tab[14]" (click) = setvalue(15)></a> <br>IRAN <br> </td>    
        <td ><a routerLink = '/team' ><img [src]= "tab[15]" (click) = setvalue(16)> </a><br> JAPAN<br> </td>
        <td ><a routerLink = '/team' ><img [src]= "tab[16]" (click) = setvalue(17)></a> <br> KOREA REPUBLIC<br> </td>
        <td ><a routerLink = '/team' ><img [src]= "tab[17]" (click) = setvalue(18)></a> <br> MEXICO<br> </td>   
        <td ><a routerLink = '/team' ><img [src]= "tab[18]" (click) = setvalue(19)> </a><br> MOROCCO<br> </td>
        <td ><a routerLink = '/team' ><img [src]= "tab[19]" (click) = setvalue(20)> </a><br> NETHERLANDS<br> </td>
        <td ><a routerLink = '/team' ><img [src]= "tab[20]" (click) = setvalue(21)></a> <br> POLAND<br> </td>
        </tr>
        <tr>
        <td ><a routerLink = '/team' ><img [src]= "tab[21]" (click) = setvalue(22)></a> <br> PORTUGAL<br> </td>
        <td ><a routerLink = '/team' ><img [src]= "tab[22]" (click) = setvalue(23)> </a><br> QATAR<br> </td>
        <td ><a routerLink = '/team' ><img [src]= "tab[23]" (click) = setvalue(24)> </a><br> SAUDI ARABIA<br> </td>
        <td ><a routerLink = '/team' ><img [src]= "tab[24]" (click) = setvalue(25)> </a><br> SENEGAL<br> </td>
        <td ><a routerLink = '/team' ><img [src]= "tab[25]" (click) = setvalue(26)> </a><br> SERBIA<br> </td>
        <td ><a routerLink = '/team' ><img [src]= "tab[26]" (click) = setvalue(27)></a> <br> SPAIN<br> </td>
        <td ><a routerLink = '/team' ><img [src]= "tab[27]" (click) = setvalue(28)> </a><br> SUITZERLAND<br> </td>
        </tr>
        <tr>
        <td ><a routerLink = '/team' ><img [src]= "tab[28]" (click) = setvalue(29)></a> <br> TUNISIA<br> </td>
        <td ><a routerLink = '/team' ><img [src]= "tab[29]" (click) = setvalue(30)></a> <br> UNITED STATES<br> </td>
        <td ><a routerLink = '/team' ><img [src]= "tab[30]" (click) = setvalue(31)> </a><br> URUGUAY<br> </td>
        <td ><a routerLink = '/team' ><img [src]= "tab[31]" (click) = setvalue(32)> </a><br> WALES<br> </td>
        </tr>
</table>
    

</div>