<div class="container  " style=  "height:100px">
<div>
    <div class="row ">
    <body style="position: flex;"> 
<h1 style="margin-top: 3cm;position:flex;"><b>Groups</b></h1>
<div>
<hr>
<div>
    <div class="row"id="standings">
        <div style="position:flex;" class="col-sm-6 mb-3">
            <div class="card shadow border-none">
                <div class="card-header"style="background-color:#811532;text-align:center;">
                    <b style="color:white;">Group(A)</b>
                </div>
                <div class="row m-0" style="background-color:#4a0c1d">
                    <div class="col-sm-4"style="color:white;text-align:center;">Teams</div>
                    <div class="col-sm-2"style="color:white;">W</div>
                    <div class="col-sm-2"style="color:white;">L</div>
                    <div class="col-sm-2"style="color:white;">D</div>
                    <div class="col-sm-2"style="color:white;">PTS</div>

                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="netherlands" >
                        </span>
                        <h4 style="margin:auto 4px"><b>NED</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="senegal">
                        </span>
                        <h4 style="margin:auto 4px"><b>SEN</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle"[src]="ecuador">
                        </span>
                        <h4 style="margin:auto 4px"><b>ECU</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="qatar">
                        </span>
                        <h4 style="margin:auto 4px"><b>QAT</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                </ul>
              </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card shadow border-none">
                <div class="card-header"style="background-color:#811532;text-align:center;">
                    <b style="color:white;">Group(B)</b>
                </div>
                <div class="row m-0" style="background-color:#4a0c1d">
                    <div class="col-sm-4"style="color:white;text-align:center;">Teams</div>
                    <div class="col-sm-2"style="color:white;">W</div>
                    <div class="col-sm-2"style="color:white;">L</div>
                    <div class="col-sm-2"style="color:white;">D</div>
                    <div class="col-sm-2"style="color:white;">PTS</div>

                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="england">
                        </span>
                        <h4 style="margin:auto 4px"><b>ENG</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="usa">
                        </span>
                        <h4 style="margin:auto 4px"><b>USA</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="iran">
                        </span>
                        <h4 style="margin:auto 4px"><b>IRN</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="wales">
                        </span>
                        <h4 style="margin:auto 4px"><b>WAL</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                </ul>
              </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card shadow border-none">
                <div class="card-header"style="background-color:#811532;text-align:center;">
                    <b style="color:white;">Group(C)</b>
                </div>
                <div class="row m-0" style="background-color:#4a0c1d">
                    <div class="col-sm-4"style="color:white;text-align:center;">Teams</div>
                    <div class="col-sm-2"style="color:white;">W</div>
                    <div class="col-sm-2"style="color:white;">L</div>
                    <div class="col-sm-2"style="color:white;">D</div>
                    <div class="col-sm-2"style="color:white;">PTS</div>

                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="argentine">
                        </span>
                        <h4 style="margin:auto 4px"><b>ARG</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="poland">
                        </span>
                        <h4 style="margin:auto 4px"><b>POL</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="mexic">
                        </span>
                        <h4 style="margin:auto 4px"><b>MEX</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="ksa">
                        </span>
                        <h4 style="margin:auto 4px"><b>KSA</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                </ul>
              </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card shadow border-none">
                <div class="card-header"style="background-color:#811532;text-align:center;">
                    <b style="color:white;">Group(D)</b>
                </div>
                <div class="row m-0" style="background-color:#4a0c1d">
                    <div class="col-sm-4"style="color:white;text-align:center;">Teams</div>
                    <div class="col-sm-2"style="color:white;">W</div>
                    <div class="col-sm-2"style="color:white;">L</div>
                    <div class="col-sm-2"style="color:white;">D</div>
                    <div class="col-sm-2"style="color:white;">PTS</div>

                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="france">
                        </span>
                        <h4 style="margin:auto 4px"><b>FRA</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="australia">
                        </span>
                        <h4 style="margin:auto 4px"><b>AUS</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="tunisia">
                        </span>
                        <h4 style="margin:auto 4px"><b>TUN</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="denimark">
                        </span>
                        <h4 style="margin:auto 4px"><b>DEN</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                </ul>
              </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card shadow border-none">
                <div class="card-header"style="background-color:#811532;text-align:center;">
                    <b style="color:white;">Group(E)</b>
                </div>
                <div class="row m-0" style="background-color:#4a0c1d">
                    <div class="col-sm-4"style="color:white;text-align:center;">Teams</div>
                    <div class="col-sm-2"style="color:white;">W</div>
                    <div class="col-sm-2"style="color:white;">L</div>
                    <div class="col-sm-2"style="color:white;">D</div>
                    <div class="col-sm-2"style="color:white;">PTS</div>

                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="japon">
                        </span>
                        <h4 style="margin:auto 4px"><b>JPN</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="spain">
                        </span>
                        <h4 style="margin:auto 4px"><b>ESP</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="germany">
                        </span>
                        <h4 style="margin:auto 4px"><b>GER</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="costarica">
                        </span>
                        <h4 style="margin:auto 4px"><b>CRC</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                </ul>
              </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card shadow border-none">
                <div class="card-header"style="background-color:#811532;text-align:center;">
                    <b style="color:white;">Group(F)</b>
                </div>
                <div class="row m-0" style="background-color:#4a0c1d">
                    <div class="col-sm-4"style="color:white;text-align:center;">Teams</div>
                    <div class="col-sm-2"style="color:white;">W</div>
                    <div class="col-sm-2"style="color:white;">L</div>
                    <div class="col-sm-2"style="color:white;">D</div>
                    <div class="col-sm-2"style="color:white;">PTS</div>

                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="morroco">
                        </span>
                        <h4 style="margin:auto 4px"><b>MAR</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="croatia">
                        </span>
                        <h4 style="margin:auto 4px"><b>CRO</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="belgium">
                        </span>
                        <h4 style="margin:auto 4px"><b>BEL</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="canada">
                        </span>
                        <h4 style="margin:auto 4px"><b>CAN</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                </ul>
              </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card shadow border-none">
                <div class="card-header"style="background-color:#811532;text-align:center;">
                    <b style="color:white;">Group(G)</b>
                </div>
                <div class="row m-0" style="background-color:#4a0c1d">
                    <div class="col-sm-4"style="color:white;text-align:center;">Teams</div>
                    <div class="col-sm-2"style="color:white;">W</div>
                    <div class="col-sm-2"style="color:white;">L</div>
                    <div class="col-sm-2"style="color:white;">D</div>
                    <div class="col-sm-2"style="color:white;">PTS</div>

                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="brazil">
                        </span>
                        <h4 style="margin:auto 4px"><b>BRA</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="swis">
                        </span>
                        <h4 style="margin:auto 4px"><b>SUI</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="cameron">
                        </span>
                        <h4 style="margin:auto 4px"><b>CMR</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="serbia">
                        </span>
                        <h4 style="margin:auto 4px"><b>SRB</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                </ul>
              </div>
        </div>
        <div class="col-sm-6 mb-3">
            <div class="card shadow border-none">
                <div class="card-header"style="background-color:#811532;text-align:center;">
                    <b style="color:white;">Group(H)</b>
                </div>
                <div class="row m-0" style="background-color:#4a0c1d">
                    <div class="col-sm-4"style="color:white;text-align:center;">Teams</div>
                    <div class="col-sm-2"style="color:white;">W</div>
                    <div class="col-sm-2"style="color:white;">L</div>
                    <div class="col-sm-2"style="color:white;">D</div>
                    <div class="col-sm-2"style="color:white;">PTS</div>

                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="portogal">
                        </span>
                        <h4 style="margin:auto 4px"><b>POR</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="corea">
                        </span>
                        <h4 style="margin:auto 4px"><b>KOR</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="urguay">
                        </span>
                        <h4 style="margin:auto 4px"><b>URU</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 d-flex justify-content-center align-items-center"style="color:white;">
                        <span class="flag">
                            <img style="width: 30px;height: 30px;" class="rounded-circle" [src]="ghana">
                        </span>
                        <h4 style="margin:auto 4px"><b>GHA</b></h4>
                        </div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                        <div class="col-sm-2">0</div>
                    </div>
                  </li>
                </ul>
              </div>
        </div></div></div>
          
