<br><br><br><br>

<h1 style="margin-left: 12cm;">lusail stadium</h1>

   <img width=50%  style= "margin-left: 2cm;"src={{staduim.lusail}}>
<br>


  <h1 style="margin-left: 2cm;">History and description</h1><br>

  <p style="margin-left: 1cm;">  Lusail Stadium, also known as Lusail Iconic Stadium, is a newly built stadium which will serve as the flagship venue of the 2022 World Cup in Qatar.  
</p>
<br>
<p style="margin-left: 1cm;">   The stadium formed part of Qatar’s World Cup plans as early as 2010 when the bid was first considered. <br>Following the decision to award Qatar the World Cup,<br>
     a tender process was started for the actual design of the stadium, however many designs proved unsatisfactory to the organising committee.
</p>
<br>
<p style="margin-left: 1cm;">In the end, the committee chose a bowl-shaped design inspired by art pieces found across the Arab world.</p>
<br>
<p style="margin-left: 1cm;">In the end, the committee chose a bowl-shaped design inspired by art pieces found across the Arab world.
</p>
<br>
<p style="margin-left: 1cm;">Construction of the stadium started in 2017 and it took four years for the stadium to be completed, slightly longer than planned. <br>The official opening of the stadium is planned for 2022.
</p>
<h1 style="margin-left: 2cm;">How to get to Lusail Stadium</h1><br>
<p style="margin-left: 1cm;">Lusail Stadium is the centerpiece of the new Lusail City development on the northern edge of Doha on the Persian Gulf coast,<br> roughly 20 kilometres from central Doha and 9 kilometres from The Pearl.</p>
<br>
<p style="margin-left: 1cm;">The red metro line connects Lusail City with central Doha and Hamad International Airport. Lusail QNB Station, the last on the line,<br> lies right next to the stadium. A tram system connects the stadium with other parts of Lusail</p>
<br>
<p style="margin-left: 1cm;">The red metro line connects Lusail City with central Doha and Hamad International Airport. Lusail QNB Station, the last on the line, lies right next to the stadium. <br>A tram system connects the stadium with other parts of Lusail.</p>
<br>
<br>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4396.0012737001725!2d51.48836984932058!3d25.420451868324935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e45e79240aff901%3A0x78b22e86c6d52895!2sLusail%20Stadium!5e0!3m2!1sen!2snl!4v1671031428414!5m2!1sen!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe><h1 style="margin-left: 2cm;">Eat, drink, and sleep near Lusail Stadium</h1><br>
<p style="margin-left: 1cm;">Lusail Stadium is part of a large new development not far from the coast of the Persian Gulf coast called Lusail City. The area is still a large construction <br>site but this is changing by the month as more and more buildings are being completed.</p>
<br>
<p style="margin-left: 1cm;">here are neither many hotels yet in the area, though these are likely to pop up soon since it’s planned to be an upscale area. Right now, there are two hotels in Lusail: <br>Cielo Hotel Lusail and Staybridge Suites. From both you can get to the
</p>
<br>
