<br><br><br><br>

<h1 style="margin-left: 12cm;">Al Thumama Stadium </h1>

<img width=50%  style= "margin-left: 2cm;"src={{staduim.Doha1}}>
<br>


<h1 style="margin-left: 2cm;">History and description</h1><br>

<p style="margin-left: 1cm;">  Al Thumama Stadium is one of the newly built stadiums for the FIFA World Cup 2022 in Qatar.

 Construction of the stadium began in 2017 and took over four years. Al Thumama Stadium officially opened on 22 October 2021 with the 49th Amir Cup Final between Al-Sadd and Al-Rayyan (1-1).
 
 The stadium’s circular design has been inspired by the gahfiya, the traditional woven cap that is commonly worn by men across the Middle East.

</p>
<br>

<br>


<h1 style="margin-left: 2cm;">How to get to Al Thumama Stadium</h1><br>
<p style="margin-left: 1cm;">The stadium is not close to a metro station so either take a taxi or a local bus (or use special shuttle arrangements for the event). If taking the bus, catch bus 10 from Al Ghanim Bus Station near Souq Waqif. The stadium is at almost the end of the line at Al Thumama Bus Stop 7.</p>
<br>
<p style="margin-left: 1cm;">Of the 2022 World Cup Stadiums, Al Thumama Stadium is one of the closes located to Hamad International Airport.</p>
<br>

<br>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3609.04882470287!2d51.530238149887495!3d25.235280436269523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e45cf7aee882d69%3A0x1f0e2a2d43a41240!2sAl%20Thumama%20Stadium!5e0!3m2!1sen!2snl!4v1671035423219!5m2!1sen!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


