<br><br><br><br>
<h1 style="margin-left: 12cm;">education city stadium</h1>

   <img width=50%  style= "margin-left: 2cm;"src={{staduim.Doha2}}>
<br>


  <h1 style="margin-left: 2cm;">History and description</h1><br>

  <p style="margin-left: 1cm;">   Education City Stadium, also known as Qatar Foundation Stadium, is one of the playing venues of the 2022 World Cup that will be held in Qatar. It opened in 2020, the third World Cup stadium to be completed.
  
</p>
<br>
<p style="margin-left: 1cm;">  Education City Stadium is designed to reflect a diamond in the desert. The stadium will have a capacity of roughly 40,000 seats. After the tournament, the capacity will be reduced in half to 20,000 seats.

</p>
<br>


<h1 style="margin-left: 2cm;">How to get to Education City Stadium</h1><br>
<p style="margin-left: 1cm;">Education City Stadium is located on the Education City complex where multiple local and foreign universities and research institutes are based. The stadium lies in the eastern part of the large area, but a local tram service connects with other parts of the complex.</p>
<br>
<p style="margin-left: 1cm;">Education City is located in the north-west of Doha (or actual Al Rayyan) at roughly 14 kilometres from central Doha (The Corniche and Souq Waqif) and a similar distance from the West Bay and The Pearl areas further north along the Persian Gulf coast.</p>
<br>

<br>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7213.606537165298!2d51.424438!3d25.310813!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5729ad36fff87c57!2sEducation%20City%20Stadium!5e0!3m2!1sen!2snl!4v1671034798458!5m2!1sen!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe><br>

